@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}
h1 {
    font-weight: normal;
    font-size: 4rem;
}

body{
    background-image: url(https://images.unsplash.com/photo-1521478413868-1bbd982fa4a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG5ldyUyMHllYXJ8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.timer{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.count {
    text-align: center;
}
.count span{
    font-size: 1.4rem;
}
