@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}
h1 {
    font-weight: normal;
    font-size: 4rem;
    color: white;
}

body{
    background-image: url(https://hf-s3.hotelfriend.com/pages/18/new-years-eve-in-leipzig-58574.jpg);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.timer{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.count {
    text-align: center;
}
.count span{
    font-size: 1.4rem;
}

.count {
    color: white;
}

.timer {
    text-shadow: 10px 3px black;
}

.big_countdown {
    font-size: 11rem;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-weight:bold;
    color: white;
    background-color: black;
    border-radius: 10000000000000000px;
    margin: 0px;
    width: 145px;
}
    
